/* GENERICS */

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    height: 80px;
    line-height: 80px;
}

.logo,
.title {
    vertical-align: middle;
    margin-left: 120px;
}

/* SPECIFIC */

/* TOP */

.title {
    display: inline;
    margin: 0;
}

.container {
    min-height: 600px;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    border-radius: 1%;
}

.buttons {
    height: 80px;
    line-height: 80px;
    border-bottom: 2px solid #f6f8f9;
    padding-left: 60px;
}

.add {
    padding: 16px 32px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    border: none;
}

.task {
    background-color: #46ADF1;
    color: white;
}

.sect {
    border: .5px solid grey;
    background-color: white;
    color: grey;
}

/* MAIN */

.tasks-list {
    padding: 20px 20px;
}

.tasks-title {
    margin-left: 35px;
}

.arrow {
    vertical-align: middle;
    margin-right: 10px;
    font-size: 16px;
}

.placeholder {
    border-radius: 50px;
    padding: 7px 15px;
    color: white;
    margin-left: 10px;
    font-size: small;
}

.blue {
    background-color: #46ADF1;
}

ul {
    list-style: none;
}

li {
    vertical-align: middle;
    margin-bottom: 24px;
}

.check {
    display: inline-block;
    color: rgb(33, 222, 133);
    border: .5px solid rgb(33, 222, 133);
    border-radius: 50%;
    margin-right: 10px;
    padding: 2.5px 5px;
    font-size: 10px;
    vertical-align: middle;
}

.cross {
    display: inline-block;
    color: red;
    border: .5px solid red;
    border-radius: 50%;
    margin-right: 10px;
    padding: 2.5px 5px;
    font-size: 10px;
    vertical-align: middle;
}

.blue {
    background-color: #46ADF1;
}

.violet {
    background-color: #9C73E5;
}

.green {
    background-color: #64C0A8;
}

.mobile {
    background-color: #F29E33;
}

.purple {
    background-color: #D963A0;
}

.sales {
    background-color: #B0C926;
}